@model IEnumerable<VotingSystems.Models.Vote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Party.PartyID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
