@model IEnumerable<VotingSystems.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Party.PartyID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CandidateID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CandidateID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CandidateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
